{
  "extends": [
    "next/core-web-vitals",
    "plugin:@typescript-eslint/recommended", // Uses rules from `@typescript-eslint/eslint-plugin`,
    "airbnb-typescript",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "plugin:import/typescript"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": ["html", "@typescript-eslint"],

  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".ts", ".tsx"],
        "moduleDirectory": ["node_modules", "src/"]
      }
    }
  },
  "globals": {
    "React": true,
    "google": true,
    "mount": true,
    "mountWithRouter": true,
    "shallow": true,
    "shallowWithRouter": true,
    "context": true,
    "expect": true,
    "jsdom": true,
    "JSX": true
  },
  "rules": {
    "@typescript-eslint/no-misused-promises": [
      "error",
      {
        "checksVoidReturn": false
      }
    ],
    "max-len": "off",
    "object-curly-newline": "off",
    "import/prefer-default-export": "off",
    "react/display-name": "off",
    "@next/next/no-img-element": "off",
    "comma-dangle": ["error", "only-multiline"],
    "@typescript-eslint/comma-dangle": ["error", "only-multiline"]
  },
  "parserOptions": {
    "project": ["./tsconfig.json"] // Specify it only for TypeScript files
  }
}